*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
header nav{
    background-color: black;
    padding-block: 25px;
    width: 100%;
}
.hero{
    height:100vh;
    width:100%;
    background-image: url(../images/background-image2.jpg);
    background-size:cover;
    background-position: center;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 25px;
}
.logo{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: yellow;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: yellow;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: white;
    transition: .4s;
}
.button{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    color: #0748c2;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    font-size: 20px;
}
.button:hover{
    color: black;
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
/* possible flexbox*

 .content{
    display: flex-start;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
} */
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: yellow;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: yellow;
    letter-spacing: 2px;
    font-size: 20px;
}


.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

/* possible flex box*  */

/* .newsletter form{
    display: flex;
    flex-direction: row;
    width: 380px;
    max-width: 100%;
    position: relative;
} */

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid yellow;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: yellow;
    color: #0748c2;
    box-shadow: 0px 0px 5px black, 0px 0px 15px gold;
    top: 6px;
    right: 6px;
}
/* find out how to add icon for github, linkedIn, and any other media below */
.footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
}
/* find out how to add icon for github+, linkedIn, and any other media below */
div ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

/* find out how to add icon for github, linkedIn, and any other media below */
.footer{
    text-align: center;
    text-decoration: none;
    border: none;
}
.icons{
  cursor: pointer;
  border: none;
  padding: 15px 32px;
  text-align: center;
  word-spacing: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
.icons a:hover{
    color: yellow;
}

/*style this with FLEXBOX for projects section*/
.aboutme{
    background-image: url(../images/background-image3.jpg);
    width: 100%;
    background: cover;
}
.aboutme img{
    height: auto;
    width:500px;
}
.metext{
    width: 550px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 20px;
    box-sizing: border-box 0px 5px;
    text-decoration: solid;
    text-align:center;
    padding: 20px 20px 20px;
}
.profession{
    text-align: center;
    margin: 20px;
}
.metext h2{
    background-color: yellow;
    border-radius:30px;
}
.main{
    width: px;
    max-width: 50%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.quote{
    background-color: black;
    border-radius: 30px;
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px;
    text-align: center;
    color: yellow;
    padding: 12px;
}
.desc{
    font-size:25px;
}

/*add more social links below
also add repositioning for mobile devices!*/


 /* fix media queries below when all other content is added if needed ****TRY TO FIX WITH FLEXBOX**** */

 @media screen and (max-width: 768px) {
    header nav{
        width: 100%;
        font-size: 20px;
        display: inline-block;
    }
    
    body{
        width: 100%;
        display: inline;
    }
    nav{
        display:block;
    }
    nav h2{
        display: inline-block;
        margin: 2px;
    }
    nav ul li{
        display: flexbox;
    }
    nav .button{
        display: inline-block;
        margin:-15px 25%;
        padding: 3px;
        align-items: center;
    }
    .content{
        display:inline-block;
    }
    .newsletter{
        display: inline-block;
        margin:0px;
    }
    .newsletter form{
        display: inline-flex;
        margin: -15px;
    }
}
 @media screen and (max-width: 576px){
    header{
        display: flex;
        flex-direction: row;
        /* justify-content:space-between; */
    }
    header nav ul li{
        text-align:justify;
        display:block;
        font-size: 15px;
    }
    .logo{
        font-size: 20px;
    }
    .button{
    display: inline-block;
    margin: 5px 50px;
    padding: 5px;
    align-items: center;
    font-size: 15px;
    }
    .content h1{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex: auto;

        font-size: 40px;
    }
    .content h3{
        display:inline-flex;
        font-size: 15px;
    }
    .content h4{
        display: flex;
        flex-direction: row;
        justify-items: center;
        /* justify-content: center; */
        /*margin-top: 75px; */
        /* double check this */
    }
} 